body {
  font-family: Bradley Hand, cursive;
  color: white;
}
ul {
  list-style-type: none;
}

.container {
  display: block;
  position: absolute;
  max-width: 600px;
  height: 500px;
  border: 5px solid black;
  margin: 0 300px;
  border-radius: 20px;
  border-color: #0092ca;
  border-width: 3px;
  box-shadow: 10px 10px 10px;
  background-color: #669dd1;
}
h3 {
  font-size: 35px;
  position: left;
  top: 15px;
  position: relative;
  margin-bottom: 0;
  color: black;
}
h1 {
  position: relative;
  text-align: center;

  font-size: 55px;
  top: 0px;
  left: 0px;
}

.row {
  border: 2px solid #0092ca;
  position: relative;
  margin-top: 20px;
  padding: 15px;
  width: 200px;
  left: 950px;
  top: 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
  background-color: #669dd1;
}
.col {
  font-size: 14px;
  padding: 0px 0px;
}

h2 {
  text-align: left;
  position: relative;
  margin: 30px auto;
  font-size: 15px;
  padding: 0;
}
.temperature {
  position: absolute;
  text-align: center;
  font-size: 25px;
  top: 180px;
  right: 60px;
}
.search {
  position: relative;
  font-size: 18px;
  margin: 20px auto;
  left: 350px;
}

button {
  position: relative;
  top: 0px;
}

.fon {
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
small {
  color: black;
  position: absolute;
  left: 500px;
  font-size: 20px;
  bottom: 100px;
}

.temperature strong {
  font-size: 80px;
  font-weight: 350;
  line-height: 5px;
  padding: 0;
  margin: 0;
  color: black;
}
.units {
  margin-left: 0;
}
hr {
  position: relative;
  top: 100px;
}
h4 {
  text-transform: capitalize;
  position: absolute;
  left: 40px;
  top: 185px;
  color: black;
}
.float-left {
  position: absolute;
  left: 270px;
  top: 100px;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 90px;
  box-shadow: 1px 2px 4px 4px white;
}
.col7 {
  position: absolute;
  right: 0px;
  top: 15px;
  font-size: 30px;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
  color: black;
}
.popcity1 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 280px;
  left: 30px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity2 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 280px;
  left: 230px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity3 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 280px;
  left: 430px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity4 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 350px;
  left: 30px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity5 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 350px;
  left: 230px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity6 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 350px;
  left: 430px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity7 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 420px;
  left: 30px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity8 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 420px;
  left: 230px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.popcity9 {
  width: 140px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 420px;
  left: 430px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 4px white;
}
.capital {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 5px auto;
}
a {
  color: black;
}
.week-temperature {
  position: absolute;
  right: 10px;
  top: 15px;
}
